*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 10pxpx;
  border-radius: 10px;
}
.toDo {
  width: 100%;
  max-width: 540px;
  background: #95417c;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
h1{
  margin-bottom: 8px;
}
.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 10px;
  margin-bottom: 25px;
} 

#taskInput{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  margin-right: 5rem;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(170, 159, 159);
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 15px;

}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f0;
  padding: 5px;
  margin: 2rem 1rem;
  border-radius: 5px;
}

li span {
  flex: 1;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

li input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

li input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
